.experience-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  width: 100%;
}

.experience-title-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.experience-title {
  max-width: 300px;
}

.experience-subtitle {
  max-width: 1000px;
  margin: 0 auto;
}

.experience-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  max-width: 1000px;
  padding: 0 5px;
  margin: 0 auto;
}

.experience-divisions {
  padding: 20px;
}

.experience-division {
  margin: 15px;
  border-bottom: 1px solid #adadad;
  padding-bottom: 15px;
}

.experience-definitions {
  margin-bottom: 15px;
  max-width: 1000px;
  margin: 15px auto;
}

.experience-definition {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.experience-definition.wrap {
  flex-wrap: wrap;
}

.experience-term {
  width: 240px;
}

.experience-explanation {
  width: 100%;
}

.experience-explanation.center {
  text-align: center;
}

.experience-explanation-list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.experience-explanation p:nth-child(n + 2) {
  margin-top: 15px;
}

ol.experience-explanation-list {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

ul.experience-explanation-list li {
  padding-left: 1em;
  text-indent: -0.7em;
}

ul.experience-explanation-list li::before {
  content: "• ";
  color: #b2b2b2;
}

.quote-cloud {
  border: 1px solid #adadad;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.quote-cloud-quote:nth-child(5n + 2) {
  align-self: center;
}

.quote-cloud-quote:nth-child(5n + 3) {
  padding-left: 10%;
  align-self: flex-start;
}

.quote-cloud-quote:nth-child(5n + 4) {
  padding-right: 10%;
  align-self: flex-end;
}

.quote-cloud-quote:nth-child(5n) {
  align-self: flex-end;
}

.experience-explanation img {
  width: 100%;
}

.stack-containers {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.stack-item {
  width: 49%;
}

.stack-p {
  font-weight: 300;
}

.stack-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #adadad;
  padding: 5px;
}

.stack-img-container {
  display: flex;
  justify-content: center;
}

.border-img {
  border: 1px solid #979797;
}

.center-title {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.experience-explanation > p {
  font-weight: 300;
}

.comp-container {
  width: 100%;
}

.comp {
  margin: 15px auto;
  background-image: url("./images/ca-computer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 600px;
}

.comp > iframe {
  position: relative;
  top: 38px;
  left: 21px;
}

.experience-nav {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
  border: 1px solid #adadad;
}

/* grande */
@media (max-width: 850px) {
  .stack-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .stack-containers {
    flex-wrap: wrap;
  }

  .stack-title {
    margin-bottom: 15px;
  }

  .stack-img-container img {
    width: 100%;
  }

  .stack-section {
    margin-bottom: 15px;
  }

  .comp {
    width: 550px;
    height: 450px;
  }

  .comp > iframe {
    width: 527px;
    height: 325px;
    top: 6px;
    left: 13px;
  }
}

/* tall */
@media (max-width: 600px) {
  .experience-header {
    flex-direction: column;
  }
  .experience-header-img {
    width: 100%;
  }

  .experience-link {
    font-size: 12px;
  }

  .experience-divisions {
    padding: 8px;
  }

  .experience-definition {
    flex-direction: column;
  }

  .quote-cloud-quote {
    font-size: 13px;
  }

  .experience-explanation {
    font-size: 15px;
  }

  .stack-p {
    font-size: 15px;
  }

  .comp {
    width: 325px;
    height: 266px;
  }

  .comp > iframe {
    width: 312px;
    height: 192px;
    top: 4px;
    left: 7px;
  }
}
