* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  color: #333;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-weight: 300;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.title-container {
  font-size: 40px;
  font-weight: 300;
  margin: 15px 0;
}

.nav-link {
  font-size: 25px;
  font-weight: 300;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

.nav-links {
  max-width: 600px;
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 100;
}

.brand-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.head-nav {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #adadad;
  margin-bottom: 45px;
}

.work {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.work-item {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  position: relative;
  border: 2px solid #f3f3f3;
  background-color: #f8f8f8;
  margin-bottom: 65px;
}

.work-img {
  width: 50%;
}

.work-p {
  /* margin-bottom: 20px; */
}

.work-info {
  width: 50%;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-look {
  padding: 5px 30px;
  border: 2px solid #333;
  color: #333;
  font-size: 22px;
  text-decoration: none;
  width: inherit;
  text-align: center;
}

.btn-look:hover {
  background-color: #ccc;
}

.btn-look:active {
  background-color: #aaa;
}

.footer {
  width: 100%;
  border-top: 1px solid #adadad;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  display: inline-block;
  margin-right: 20px;
}
